* {margin: 0px; padding: 0px; box-sizing: border-box;}
html{
    height: 100vh;
}
body {
    background: var(--preto);
    color: var(--branco);
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

#netflix-logo{
    font-family: 'Bebas Neue', cursive;
    color: var(--vermelho);
    font-size: 3.5rem;
}

header nav a {
    text-decoration: none;
    color: var(--branco);
    margin-right: 10px;
}
header nav a:hover {
    color: var(--cinza);
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
}
.container {
    margin-left: 20px;
}

.carrosel-popular {
    margin-top: 5px;
}

.carrosel h3{
    font-size: 2.0rem;
    margin: 0px 20px 15px 20px;
}

footer {
    display: flex;
    margin-top: 3%;
    flex-direction: column;
    align-items: center;
    color: var(--cinza);
}

.link {
    padding: 50px;
  }
  
.sub-links ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.sub-links a {
    color: var(--cinza);
    text-decoration: none;
}

.sub-links a:hover {
    color: var(--branco);
    text-decoration: underline;
}

.logos a{
    padding: 10px;
}

.logo {
    color: var(--cinza);
    margin-bottom:25px;
}
  